<button class="uk-button uk-button-primary uk-margin-small" type="button" uk-toggle="target: #form-currency-add; animation: uk-animation-slide-top, uk-animation-fade">
  <span uk-icon="icon: plus;ratio:1.25;"></span>
</button>
<div id="form-currency-add" class="uk-card uk-card-default uk-card-body uk-margin-small uk-margin-remove-top" hidden>
  <h2 class="uk-card-title">Add Currency</h2>
  <form (ngSubmit)="onSubmit();currencyForm.reset();" #currencyForm="ngForm">
    <div class="uk-grid-small" uk-grid>
     

        <div class="uk-width-1-2@s">
          <input type="text" name="descEN" class="uk-input" placeholder="Currency ID" [required]="true"
          [(ngModel)]="currency.currencyId" #descEN="ngModel">
        </div>

        <div class="uk-width-1-2@s">
            <input type="text" name="symbol" class="uk-input" placeholder="Currency Symbol" [required]="true" [(ngModel)]="currency.currencySymbol"
          #symbol="ngModel">
        </div>
        
        <div class="uk-width-1-2@s">
            <input type="text" name="descEN" class="uk-input" placeholder="Description" [required]="true"
          [(ngModel)]="currency.currencyDesc" #descEN="ngModel">
        </div>
        <div class="uk-width-1-2@s">
            <input type="text" name="descAr" class="uk-input" placeholder="Arabic Description" [required]="true" [(ngModel)]="currency.currencyDescAr"
          #descAr="ngModel">
        </div>
        
     
        <div class="uk-width-1-2@s">
          <label for="negSymbole">Negative sign</label>
            <select name="negSymbole" class="uk-select" [(ngModel)]="currency.negSymbole">
               <option [ngValue]="1">()</option>
               <option [ngValue]="2">-</option>
               <option [ngValue]="3">CR</option>
             </select>
           </div>

          <div class="uk-width-1-4@s">
            <label for="decSYM">Separators decimal</label>
            <select name="decSYM" class="uk-select" [(ngModel)]="currency.decSYM">
               <option [ngValue]="1">Period</option>
               <option [ngValue]="2">Comma</option>
               <option [ngValue]="3">Space</option>
             </select>
           </div>

           <div class="uk-width-1-4@s">
            <label for="thousSYM">Separators Thousands</label>
            <select name="thousSYM" class="uk-select" [(ngModel)]="currency.thousSYM">
              <option [ngValue]="1">Period</option>
              <option [ngValue]="2">Comma</option>
              <option [ngValue]="3">Space</option>
             </select>
           </div>
        
        <div class="uk-width-1-1">
         <div class="uk-card uk-card-default uk-card-body">
            <h5 class="uk-card-title">Display Symbol</h5>
            <div class="uk-form-controls">
                <label><input class="uk-radio" type="radio" name="radio2" [value]="1" [(ngModel)]="currency.negSymboleSign">Before Amount</label>
                <label><input class="uk-radio" type="radio" name="radio2" [value]="2"  [(ngModel)]="currency.negSymboleSign">After Amount</label>
                <label><input class="uk-checkbox" type="checkbox" name="checkbox" [checked]="currency.incSpace"  (change)="currency.incSpace = !currency.incSpace">Include Space</label>
            </div>
         </div>
        </div>
            
     
    <div class="uk-width-1-2@s">
        <input type="text" name="currencyUnit" class="uk-input" placeholder="Currency Unit" [required]="true" [(ngModel)]="currency.currencyUnit"
          #currencyUnit="ngModel">
    </div>

    <div class="uk-width-1-2@s">
         <input type="text" name="currencyUnitAr" class="uk-input" placeholder="Currency Unit Arabic" [required]="true" [(ngModel)]="currency.currencyUnitAr"
          #currencyUnitAr="ngModel">
    </div>
    
    
    <div class="uk-width-1-2@s">
        <input type="text" name="unitSubUnitConnector" class="uk-input" placeholder="Subunit Connector" [required]="true" [(ngModel)]="currency.unitSubUnitConnector"
          #unitSubUnitConnector="ngModel">
    </div>
    <div class="uk-width-1-2@s">
         <input type="text" name="currencyUnitAr" class="uk-input" placeholder="Subunit Connector Arabic" [required]="true" [(ngModel)]="currency.unitSubUnitConnectorAr"
          #unitSubUnitConnectorAr="ngModel">
    </div>
    
    
    
     <div class="uk-width-1-2@s">
        <input type="text" name="currencySubUnit" class="uk-input" placeholder="Currency Subunit" [required]="true" [(ngModel)]="currency.currencySubUnit"
          #currencySubUnit="ngModel">
    </div>
    <div class="uk-width-1-2@s">
         <input type="text" name="currencySubUnitAr" class="uk-input" placeholder="Currency Subunit Arabic" [required]="true" [(ngModel)]="currency.currencySubUnitAr"
          #currencySubUnitAr="ngModel">
    </div>
        
   
      <div class="uk-width-1-1 uk-padding-small">
        <button type="submit" class="uk-button uk-button-primary" [disabled]="!currencyForm.form.valid">{{ 'form.button.save' | translate }}</button>
        <button type="button" class="uk-button uk-button-default" uk-toggle="target: #form-currency-add; animation: uk-animation-fade"
          (click)="initProduct()">
          {{ 'form.button.cancel' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>